HONDAGO_TOKEN_PRINCIPAL=
HONDAGO_API_BASE_URL=https://apigate.hondaservicosfinanceiros.com.br/bff-plataforma-vendas/v1
HONDAGO_API_URL=https://apigate.hondaservicosfinanceiros.com.br/bff-plataforma-vendas/v1/valorlance
HONDAGO_DATABASE_URL=
POSTGRES_DB=hondago
POSTGRES_USER=hondago
POSTGRES_PASSWORD=
HONDAGO_BOOTSTRAP_ADMIN_USER=admin
HONDAGO_BOOTSTRAP_ADMIN_PASSWORD=
HONDAGO_COOKIE_SECURE=true
HONDAGO_SECRETS_KEY=uVwDAzYdu9X2GhztA8vCCT9y2ezxbpmX1yeCbdAOiqg=
